/*------------------------------------*\
  Elements > Typography
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $type-700;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: $type--h-xl;
}

h2 {
  font-size: $type--h-lg;
}

h3 {
  font-size: $type--h-md;
}

h4 {
  font-size: $type--h-sm;
}

h5 {
  font-size: $type--h-xs;
  line-height: $type--h-xs-lh;
}

h6 {
  font-size: $type--h-xxs;
  line-height: $type--h-xxs-lh;
}

b,
strong {
  font-weight: $type-600;
}